@page
@using Diversifolio
@using Diversifolio.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@IndexModel.PortfolioName</h1>
</div>

<table>
    <tbody>
    @{
        IOrderedEnumerable<IGrouping<AssetClass, Asset>> ordered =
            Model.PortfolioAssetsByClass.OrderBy(it => it.Key, AssetClassComparer.Instance);

        foreach (IGrouping<AssetClass, Asset> grouping in ordered)
        {
            IOrderedEnumerable<Asset> orderedAssets = grouping.OrderByDescending(it => it.Value.Amount);
            foreach (Asset asset in orderedAssets)
            {
                <tr>
                    <td>@asset.Ticker</td>
                    <td style="font-family: monospace; float: right">@asset.Value.Amount</td>
                </tr>
            }
        }
    }
    </tbody>
</table>
