[*.{css,js,json}]
indent_size = 2

[wwwroot/lib/*]
generated_code = true
ij_formatter_enabled = false

[Pages/*.cs]
resharper_not_accessed_field_local_highlighting = hint

[*.cs]
dotnet_diagnostic.CA1812.severity = silent # Avoid uninstantiated internal classes
