[TinkoffPositionProvider.cs]
dotnet_diagnostic.CA1801.severity = none # Review unused parameters
dotnet_diagnostic.CS3001.severity = none # Argument type 'type' is not CLS-compliant
dotnet_diagnostic.CS3003.severity = none # Type of 'variable' is not CLS-compliant
