[AssetProvider.cs]
resharper_convert_to_auto_property_when_possible_highlighting = none # Convert property to auto-property (when possible)

[Data*.cs]
dotnet_diagnostic.CA1849.severity = none # Call async methods when in an async method

[TinkoffPositionProvider.cs]
dotnet_diagnostic.CA1801.severity = none # Review unused parameters
dotnet_diagnostic.CA1849.severity = none # Call async methods when in an async method
dotnet_diagnostic.CS3001.severity = none # Argument type 'type' is not CLS-compliant
dotnet_diagnostic.CS3003.severity = none # Type of 'variable' is not CLS-compliant
